@charset "UTF-8";

.calendar--embed {
  background-color: #fff;
}

.calendar--embed * {
  font-family: sans-serif;
}

.calendar--embed a {
  text-decoration: underline;
  color: unset;
}

.calendar--embed a:focus,
.calendar--embed a:hover {
  text-decoration: none;
  color: var(--color-link);
  background-color: unset;
}

#edit-host-list-items {
  word-wrap: break-word;
}

#edit-host-list-items td {
  vertical-align: top;
}

#edit-host-list-items td,
#edit-host-list-items input,
#edit-host-list-items textarea {
  font-size: var(--gin-font-size-s);
}

#edit-host-list-items td:nth-child(3) {
  max-width: 4rem;
}

#edit-host-list-items .form-url,
#edit-host-list-items textarea {
  min-width: 12rem;
}
