.locations-opening-hours {
  .views-row {
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: 1px solid var(--color-divider-light);
  }

  article {
    margin: 0
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    @include breakpoint(m) {
      display: grid;
      grid-template: "location hours" 1fr/8fr 4fr;
      grid-gap: 0 2rem;
      width: 100%;
    }
  }
}
