.view-locations {

  [data-drupal-selector="edit-radius"] {
    border: 0;
    padding: 0;
  }
}

// introduced in view-opening-hours
// @todo use class in other views w/ proximity filter
.distance {
  display: block;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
