.caption,
.footnote {
  @extend %small;
}

// Link style classes.
// _
// Utility classes for setting the different default link styles.
// Since links in the main content, the offcanvas menu and footer behave differently because of different
// context / background, you can force the styling of any of those styles on any link by adding the respective following
// classes to it. Usually this should not be needed, because the context defines which link styling is appropiate.

.link-default {
  @extend %link-default;
}

// Text alignment classes.
// _
// Utility classes for text-alignment.
// Can also be used in conjunction with .grid-inline-block to define the direction of the inline block elements.

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
