.pager {
  margin: calc($grid-gutter / 2) 0;
  text-align: center;
  border: 1px solid var(--color-divider-light);
  border-width: 0;
  ul {
    margin: 0.5em 0;
    padding-left: 0;
  }

  a:not(.button) {
    padding: 0.25em 0.5em;
  }
}
