.vertical-tabs {
  display: flex;
  margin-left: 0;
  border-color: $color-divider-light;
  background: $color-bg-light;

  .vertical-tabs__menu {
    width: 12rem;
    margin: 0;
    padding-left: 0;
    list-style-type: none;

    .vertical-tabs__menu-item {
      margin: 0;
      padding: 0.2em;
      border-color: $color-divider-light;
      background: $color-bg-fieldset;
      line-height: 1;

      &.is-selected {
        pointer-events: none;
        background: $color-bg-light;
        a:focus {
          outline: $outline-active;
          background: transparent;
        }
      }
    }
  }

  .vertical-tabs__panes {
    flex-grow: 1;
  }

  > div {
    margin: 0.3rem 0.3rem 0.3rem 0;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: $color-bg-light;
  }
}
