[data-drupal-selector="review-data"] del {
  text-decoration: line-through;
  background-color: #ffe8e8;
  background-color: var(--gin-color-danger-lightest);
}

[data-drupal-selector="review-data"] ins {
  text-decoration: underline;
  background-color: #dbf2ec;
}

.wizard-trail {
  margin-top: 1rem;
  margin-top: var(--gin-spacing-m);
  color: var(--gin-color-disabled);
}
