// For data privacy reasons (GDPR), we recomend hosting webfonts yourself.
// This way you do not need consent from the user for using them since no data is collected by an external service.
// FontAwesome Icons.
@import "../../../../web/libraries/font-awesome/scss/fontawesome";
@import "../../../../web/libraries/font-awesome/scss/solid";
@import "../../../../web/libraries/font-awesome/scss/brands";

:root {
  --font-base: "Noto Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  --font-head: "Noto Serif", georgia, "Times New Roman", times, serif;
}

// noto-sans-regular - latin-ext_latin
// prettier-ignore
@font-face {
  font-family: 'Noto Sans';
  src: local(''),
  url('../fonts/noto-sans-v21-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/noto-sans-v21-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-weight: 400;
  font-style: normal;
}

// noto-sans-italic - latin-ext_latin
// prettier-ignore
@font-face {
  font-family: 'Noto Sans';
  src: local(''),
  url('../fonts/noto-sans-v21-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/noto-sans-v21-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-weight: 400;
  font-style: italic;
}

// noto-sans-700 - latin-ext_latin
// prettier-ignore
@font-face {
  font-family: 'Noto Sans';
  src: local(''),
  url('../fonts/noto-sans-v21-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/noto-sans-v21-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-weight: 700;
  font-style: normal;
}

// noto-sans-700italic - latin-ext_latin
// prettier-ignore
@font-face {
  font-family: 'Noto Sans';
  src: local(''),
  url('../fonts/noto-sans-v21-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/noto-sans-v21-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-weight: 700;
  font-style: italic;
}

// noto-serif-regular - latin-ext_latin
// prettier-ignore
@font-face {
  font-family: 'Noto Serif';
  src: local(''),
  url('../fonts/noto-serif-v16-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/noto-serif-v16-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  font-weight: 400;
  font-style: normal;
}

// OpenCulturas does not use bold/italic formatting of headlines. Feel free to uncomment if you need them.

//  noto-serif-italic - latin-ext_latin

// @font-face {
//  font-family: 'Noto Serif';
//  font-style: italic;
//  font-weight: 400;
//  src: local(''),
//  url('../fonts/noto-serif-v16-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//  url('../fonts/noto-serif-v16-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// noto-serif-700 - latin-ext_latin

// @font-face {
//  font-family: 'Noto Serif';
//  font-style: normal;
//  font-weight: 700;
//  src: local(''),
//  url('../fonts/noto-serif-v16-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//  url('../fonts/noto-serif-v16-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// noto-serif-700italic - latin-ext_latin

// @font-face {
//  font-family: 'Noto Serif';
//  font-style: italic;
//  font-weight: 700;
//  src: local(''),
//  url('../fonts/noto-serif-v16-latin-ext_latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//  url('../fonts/noto-serif-v16-latin-ext_latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
