// SCSS compiler entrypoint.
// This file defines the order in which scss components are loaded.

// Load mixins and helper functions.
@import "_abstract/_mixins"; // stylelint-disable-line scss/load-no-partial-leading-underscore

// Load variables
@import "variables";

// Load text and icon fonts
@import "fonts";

.ck-content {
  // Load basic styling from base folder.
  @import "base/*"; // stylelint-disable-line no-invalid-position-at-import-rule
}

.ck-content nav li {
  margin-right: 2rem;
  list-style: none;
}

.ck-content blockquote::before {
  color: var(--color-text-muted);
  background: transparent;
  font-size: var(--font-size-l);
}
