.swiffy-slider {
  text-align: center;

  .slider-nav {
    @include icon(angle-left, fas, after);
    margin: 0;
    opacity: 1;

    // disable box-shadow.
    filter: none;
    -webkit-filter: none;

    &:after {
      align-items: center;
      background: transparent;
      border-radius: $button-border-radius;
      color: $color-interaction;
      // center icon.
      display: flex;
      font-size: $font-size-icon;
      justify-content: center;
      // disable defaults.
      -webkit-mask: none;
      mask: none;
      position: relative;
      top: -4rem;
    }

    &:focus,
    &:hover {
      background: transparent;
      color: $color-text-inverted;

      &:after {
        background: $color-interaction;
        color: $color-text-inverted;
      }
    }

    &:active {
      outline: 0;
      &:after {
        outline: $outline-active;
        outline-offset: 3px;
      }
    }
  }

  .slider-indicators {
    &>* {
      // @see swiffy-slider.css :/.
      // border provides a larger touch space
      background: transparent;
      border: .5rem solid transparent;
      margin: 1rem .25rem;

      &:before {
        content: '';
        display: block;
        border-top: 3px solid $color-interaction;
      }

      // disable invert filter.
      filter: none;
      -webkit-filter: none;
    }
  }

  .field--name-name {
    font-weight: bold;
  }

}

.sponsors .swiffy-slider {
  --swiffy-slider-item-gap: 2rem;

  .slider-nav::after {
    top: 0;
  }

  .slider-container > * {
    height: auto;
  }
}

// Node slider

.node-slider {
  .slider-nav::after {
    top: -.5rem;
  }
}

.swiffy-slider .teaser-big {
  text-align: left;
}
