//
//
// To use your custom css class name (my_custom_class_1) entered in an oc_section taxonomy term
// add your corresponding colors in your theme's variables.scss file, e. g.:
// --my_custom_class_1: #a1167f;
// You may then use it here in something like
// On term pages:
//
// div:has(.term--view-mode-full.my_custom_class_1) h2 {
//   color: var(--my_custom_class_1);
// }
//
// On node pages:
//
// article:has(.node.view-mode-full.my_custom_class_1) h2 {
//   color: var(--my_custom_class_1);
// }
// When the section field is printed on the page.
// .reference--taxonomy_term a[data-field_colorcode="my_custom_class_1"] {
//   color: var(--my_custom_class_1);
// }
//
//
