{%
  set classes = [
  'add-to-calendar'
]
%}
{% if icons %}{{ attach_library('addtocal_augment/icons') }}{% endif %}
<div{{attributes.addClass(classes)}}>
	{% if label %}
    <label class="addtocal__label">{{ label }}:</label>
  {% endif %}
	<a href="{{ google }}" target="_blank" class="addtocal__link addtocal__google">Google</a>
	<a href="{{ outlook }}" download="event.ics" class="addtocal__link addtocal__outlook">Outlook</a>
	<a href="{{ ical }}" download="event.ics" class="addtocal__link addtocal__ical">iCal</a>
</div>
